<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="robot.mapper.CapsuleTopicMapper">

    <select id="isExist" parameterType="map" resultType="int">
        SELECT count(1)
        FROM capsule_topic c
        WHERE c.topic_guid = #{entity.topicGuid} and c.capsule_guid = #{entity.capsuleGuid}
    </select>

    <select id="countTopic" parameterType="String" resultType="int">
        SELECT count(1)
        FROM capsule_topic c
        WHERE c.topic_guid = #{topicGuid}
    </select>
</mapper>
