<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timerec.robot.mapper.CapsuleTopicMapper">

    <select id="checkTopic" parameterType="entity" resultType="int">
        SELECT count(1)
        FROM timerec.t_topic t
        WHERE r.topic_guid = #{entity.topicGuid}
    </select>

</mapper>