<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timerec.robot.mapper.ContentArticleMapper">

    <select id="checkArticle" parameterType="contentArticle" resultType="int">
        SELECT count(1)
        FROM timerec.t_content_article a
        WHERE a.article_guid = #{entity.articleGuid}
    </select>

    <select id="getCount" resultType="int">
        SELECT count(1) FROM timerec.t_content_article a
        WHERE a.pending = 1
    </select>

    <select id="selectArticle" parameterType="int" resultType="contentArticle">
        SELECT * FROM timerec.t_content_article a
        WHERE a.content_article_id = #{randId}
    </select>
</mapper>